html {
  background-color: aqua;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  -webkit-backdrop-filter: blur(20px); 
}

header, footer {
  width: 100%;
  height: 64px;
}

.container {
  box-sizing: border-box;
  /* width: calc(100% - (16px * 2)); */
  margin: auto;
  border: 1px solid red;
  justify-content: space-between;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, .4);
}

.main-container {
  width: 70%;
  box-sizing: border-box;
  padding: 16px;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  border: 1px solid red;
}

.main-container h1 {
  margin: 0;
  text-align: center;
  font-size: 72px;
  transform: translateY(40px);
  opacity: 0;
  animation: popup 2s forwards;
}

.main-container p {
  opacity: 0;
  transform: translateY(40px);
  animation: popup 2s forwards .3s;
}

.navi {
  margin: 4px;
  text-align: center;
}

@keyframes popup {
  from {
    transform: translateY(40px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

#timer,
#bgm {
  display: flex;
  flex-direction: column;
}

.set-time {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 36px;
  font-size: 24px;
}

.set-time span,
.set-time i {
  margin: 0 auto;
}

.set-time i:hover {
  cursor: pointer;
  opacity: .5;
}

.set-time i:active {
  opacity: 0;
}

.set-worktime {
  display: flex;
}

.period {
  width: 16px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bi-arrow-up-circle-fill {
  font-size: 36px;
  margin: 0 auto;
  animation: btnup 3s infinite 2.3s;
  cursor: pointer;
}

.bi-arrow-down-circle-fill {
  font-size: 36px;
  margin: 0 auto;
  opacity: 0;
  transform: translateY(40px);
  animation: popup 2s forwards .3s,btndown 3s infinite 2.3s;
  cursor: pointer;
}

@keyframes btndown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
    opacity: .5;
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes btnup {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
    opacity: .5;
  }

  100% {
    transform: translateY(0);
  }
}

.color-select {
  position: fixed;
  top: 340px;
  right: 32px;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  border: 1px solid black;
  border-radius: 16px;
}

.color-select > span {
  display: block;
  margin-bottom: 12px;
  font-size: 20px;
}

.circle-black {
  margin-bottom: 8px;
  width: 36px;
  height: 36px;
  background : black;
  border-radius: 50%;
  opacity: .6;
  cursor: pointer;
}

.circle-white {
  margin-bottom: 8px;
  width: 36px;
  height: 36px;
  background : white;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, .6);
  border-radius: 50%;
  cursor: pointer;
}

.circle-red {
  margin-bottom: 8px;
  width: 36px;
  height: 36px;
  background : red;
  border-radius: 50%;
  opacity: .6;
  cursor: pointer;
}

.circle-blue {
  margin-bottom: 8px;
  width: 36px;
  height: 36px;
  background : green;
  border-radius: 50%;
  opacity: .6;
  cursor: pointer;
}

.circle-green {
  width: 36px;
  height: 36px;
  background : blue;
  border-radius: 50%;
  opacity: .6;
  cursor: pointer;
}

[class^= "circle"]:hover {
  width: 40px;
  height: 40px;
  opacity: .3;
}

.toggle-frame {
  width: 120px;
  height: 48px;
  margin: 0 auto;
  background: gainsboro;
  border-radius: 24px;
}

input {
  /* display: none; */
  width: 120px;
  height: 48px;
}

input:before {
  content: "";
  width: 42px;
  height: 42px;
}

iframe {
  display: block;
  /* width: 80%; */
  /* height: 45%; */
  margin: 0 auto;
  opacity: 0;
}

.appear {
  animation: popup 2s forwards;
}

.hidden {
  animation: fadeout 2s forwards;
}

@keyframes fadeout {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(40px);
    opacity: 0;
  }
}